@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: radial-gradient(circle, #ffffff 0%, #e6e6e6 100%);
  overflow: hidden;
}

#formulario {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 1s ease;
}

.titulo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
  animation: fadeInDown 1s ease;
}

.contenedor-input {
  margin-bottom: 20px;
}

input {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.respuesta {
  display: none;
  color: #fff;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animaciones adicionales */

.contenedor-input input {
  transition: all 0.3s ease;
}

.contenedor-input input:focus {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
}

.respuesta {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


#ticket {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 60%;
  text-align: left;
  margin-left: 30px;
  animation: fadeIn 1s ease;
}

.titulo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.contenedor-input {
  margin-bottom: 20px;
}

input {
  width: calc(100% - 20px);
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}



.respuesta {
  display: none;
  color: #fff;
  margin-top: 20px;
}

#ticket {
  animation: slideInRight 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
