

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
}

header {
    background-color: #0077cc;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#consejos {
    max-width: 800px;
    margin: 20px auto;
}

.consejos-list {
    list-style: none;
    padding: 0;
}

.consejos-list li {
    margin-bottom: 20px;
}

.boton-azul-claro {
    display: block;
    width: 120px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #0077cc;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton-azul-claro:hover {
    background-color: #005580;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
