body {
  background-color: #ccc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header {
  padding: 20px;
  text-align: center;
  background-color: #333;
  color: white;
  border-radius: 5px 5px 0 0;
}

.tabs {
  display: flex;
}

.tab {
  flex-grow: 1;
  text-align: center;
  padding: 10px 0;
  background-color: #888;
  color: white;
  cursor: pointer;
}

.tab:hover {
  background-color: #666;
}

.tab.active {
  background-color: #333;
}

.content {
  padding: 20px;
}

.login-form,
.register-form {
  display: none;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 5px;
}
